extends layouts/main

block content
    .form_container
        form(action=`/videos${routes.editVideo}`, method="post")
            input(type="text", name="title", placeholder="title")
            textarea(name="description", placeholder="Description")
            input(type="submit", value="Update Video")
        a.form_container_link.form_container_link_delete(href=`videos${deleteVideo}`) Delete Video